@media(max-width: 1023px) {
    .container::before {
        content: '';
        background-image: url('../imgs/signup_bg.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0.35;
    }
}

@media (min-width: 1024px) {
    .container::before {
        content: '';
        background-image: url('../imgs/signup_bg.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: absolute;
        top: 0;
        left: 0;
        right: 30%;
        bottom: 0;
    }

}